@import "tailwindcss";
@import "../styles/index.css";
@import "nprogress/nprogress.css";
@import "../styles/nprogress.css";

@layer utilities {
  .font-onest {
    font-family: "Onest", sans-serif;
  }

  .font-nunito {
    font-family: "Nunito Sans", sans-serif;
  }
}

@theme {
  --color-canadianRed: #d32f2f;
  --color-iceWhite: #f5f5f5;
  --color-coolBlue: #1976d2;
  --color-successGreen: #43a047;
  --color-charcoal: #212121;
  --color-grayText: #616161;
}
